/Menu/nbproject/private/
/Practica 2/nbproject/private/
/Practica 2/build/
/Digitos/nbproject/private/
/Digitos/build/
/Practica 2/dist/
/archivos/nbproject/private/
/archivos/build/
/prueba/nbproject/private/
